<div class="modal-header">
    <h5 class="modal-title">Información de Venta</h5>
    <button type="button"  aria-label="Close" (click)="activeModal.dismiss()"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <div class="row m-b-sm">
      <div class="col-xs-12 col-sm-6">
        <strong>Fecha:</strong> {{ venta?.date | date:'full' }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <strong>Tipo:</strong> {{ venta?.type | titlecase }}
      </div>
    </div>
    <div class="row m-b-sm">
      <div class="col-xs-12 col-sm-6">
        <strong>Contacto:</strong> {{ venta?.contacto?.nombre || 'N/A' }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <strong>Unidad:</strong> {{ venta?.unidad?.nombre || 'N/A' }}
      </div>
    </div>
    <div class="row m-b-sm">
      <div class="col-xs-12">
        <strong>Localidad:</strong> {{ venta?.unidad?.localidad || 'N/A' }}
      </div>
    </div>
    <div class="row m-b-sm">
      <div class="col-xs-12 col-sm-6">
        <strong>Importe:</strong> {{ getImporteFormatted() }}
      </div>
      <div class="col-xs-12 col-sm-6">
        <strong>Comisión:</strong> {{ getComision() }}
      </div>
    </div>
    @if (hasImporteAndComision()) {
      <div class="row m-b-sm">
        <div class="col-xs-12">
          <strong>Total Comisión:</strong> {{ getTotalComisionFormatted() }}
        </div>
      </div>
    }
    @if (venta?.precioUnitario) {
      <div class="row">
        <div class="col-xs-12">
          <strong>Precio Unitario:</strong> {{ getPrecioUnitarioFormatted() }}
        </div>
      </div>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn c-btn btn-small btn-default" (click)="activeModal.dismiss()">Cerrar</button>
  </div>