<nav class="app-sidebar d-flex flex-column h-100">
  <div class="px-3 py-3">
    <h5 class="m-0 sidebar-title">GestorApp</h5>
  </div>
  <ul class="nav flex-column flex-grow-1 px-2">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/reportes']"><i class="fa fa-chart-simple m-r-xs"></i><span>Reportes</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/unidades']"><i class="fa fa-building m-r-xs"></i><span>Proyectos</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/contactos']"><i class="fa fa-users m-r-xs"></i><span>Contactos</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/comparativas']"><i class="fa-solid fa-arrows-left-right-to-line m-r-xs"></i><span>Comparativas</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/entrevistas']"><i class="fa fa-microphone m-r-xs"></i><span>Meets</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/listas-negras']"><i class="fa fa-user-xmark m-r-xs"></i><span>Listas negras</span></a></li>
  </ul>
  <div class="mt-auto px-3 py-2 sidebar-footer">
    <small class="text-muted">Utilidades</small>
    <div class="m-t-sm"><a class="nav-link p-0" [routerLink]="['/importar']"><i class="fa fa-file-import m-r-xs"></i><span>Importar</span></a></div>
  </div>
</nav>
