<nav class="app-sidebar d-flex flex-column h-100">
  <div class="px-3 py-3">
    <h5 class="m-0 sidebar-title">GestorApp</h5>
  </div>
  <ul class="nav flex-column flex-grow-1 px-2">
    <li class="nav-item">
      <a class="nav-link primary" href="javascript:;" (click)="openNuevaVenta()"><i class="fa fa-plus m-r-xs"></i><span>Nueva Venta</span></a>
    </li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/ventas']" [ngClass]="{ active: isActive('/ventas') }"><i class="fa fa-receipt m-r-xs"></i><span>Ventas</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/unidades']" [ngClass]="{ active: isActive('/unidades') }"><i class="fa fa-building m-r-xs"></i><span>Proyectos</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/contactos']" [ngClass]="{ active: isActive('/contactos') }"><i class="fa fa-users m-r-xs"></i><span>Contactos</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/contactos-seguimiento']" [ngClass]="{ active: isActive('/contactos-seguimiento') }"><i class="fa fa-user-clock m-r-xs"></i><span>Seguimiento</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/comparativas']" [ngClass]="{ active: isActive('/comparativas') }"><i class="fa-solid fa-plus m-r-xs"></i><span>Crear Comparativas</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/listado-comparativas']" [ngClass]="{ active: isActive('/listado-comparativas') }"><i class="fa-solid fa-arrows-left-right-to-line m-r-xs"></i><span>Comparativas</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/entrevistas']" [ngClass]="{ active: isActive('/entrevistas') }"><i class="fa fa-microphone m-r-xs"></i><span>Meets</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/listas-negras']" [ngClass]="{ active: isActive('/listas-negras') }"><i class="fa fa-user-xmark m-r-xs"></i><span>Listas negras</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/reportes']" [ngClass]="{ active: isActive('/reportes') }"><i class="fa fa-chart-simple m-r-xs"></i><span>Reportes</span></a></li>
  </ul>
  <div class="mt-auto px-3 py-2 sidebar-footer">
    <div class="m-t-sm nav-item footer-item"><a class="nav-link p-0" [routerLink]="['/monitor-eventos']" [ngClass]="{ active: isActive('/monitor-eventos') }"><i class="fa fa-tasks m-r-xs"></i><span>Monitor Eventos</span></a></div>
    <div class="m-t-sm nav-item footer-item"><a class="nav-link p-0" [routerLink]="['/importar']" [ngClass]="{ active: isActive('/importar') }"><i class="fa fa-file-import m-r-xs"></i><span>Importar</span></a></div>
  </div>
</nav>
