.app-sidebar {
	width: 220px;
	background: var(--surface-2);
}

.app-sidebar .sidebar-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.app-sidebar .nav-link {
	color: var(--text-color);
	padding: 8px 12px;
	border-radius: 6px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
	border-left: none; /* Ensure no border by default */
}

.app-sidebar .nav-link.primary {
	color: #ffffff;
	background-color: var(--primary-color);
}

.app-sidebar .nav-link.primary:hover {
	background-color: var(--primary-hover-color);
}

.app-sidebar .nav-link:hover {
	background-color: var(--primary-color);
	color: #fff;
    border-radius: 6px !important;
}

.app-sidebar .nav-link.active {
	border-left: 4px solid var(--primary-color);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 10px; /* Adjust padding to account for border */
}

.sidebar-footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    max-width: 220px;
}

/* Apply same nav-link styling inside the sidebar footer */
.app-sidebar .sidebar-footer .nav-link {
	color: var(--text-color);
	padding: 8px 12px !important; /* override Bootstrap p-0 */
	border-radius: 6px;
	display: inline-block;
    width: 100%;
	border-left: none; /* Ensure no border by default */
}

.app-sidebar .sidebar-footer .nav-link:hover {
	background-color: var(--primary-color);
	color: #fff;
    border-radius: 6px !important;
}

.app-sidebar .sidebar-footer .nav-link.active {
    border-left: 4px solid var(--primary-color);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 10px; /* Adjust padding to account for border */
}

/* Dark theme borders */
.c-skin.theme-dark .app-sidebar {
	border-right: 1px solid var(--border);
}

.c-skin.theme-dark .sidebar-footer {
	border-top: 1px solid var(--border);
}