.app-sidebar {
	width: 220px;
	background: var(--surface-2);
}

.app-sidebar .sidebar-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.app-sidebar .nav-link {
	color: var(--text-color);
	padding: 8px 12px;
	border-radius: 6px;
}

.app-sidebar .nav-link:hover,
.app-sidebar .nav-link.active {
	background-color: var(--primary-color);
	color: #fff;
}

.sidebar-footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    max-width: 220px;
}

/* Apply same nav-link styling inside the sidebar footer */
.app-sidebar .sidebar-footer .nav-link {
	color: var(--text-color);
	padding: 8px 12px !important; /* override Bootstrap p-0 */
	border-radius: 6px;
	display: inline-block;
    width: 100%;
}

.app-sidebar .sidebar-footer .nav-link:hover,
.app-sidebar .sidebar-footer .nav-link.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Dark theme borders */
.c-skin.theme-dark .app-sidebar {
	border-right: 1px solid var(--border);
}

.c-skin.theme-dark .sidebar-footer {
	border-top: 1px solid var(--border);
}