

.recent-activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity-card {
    background: #fff;
    border: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.activity-card .icon{
    font-size: 24px;
    color: var(--text-color);
    margin-right: 10px;
}

/* Left and right regions: group icon + data on the left, link on the right */

.activity-card .activity-data {
    display: flex;
    flex-direction: column;
}

.activity-card .activity-link {
    margin-left: auto; /* push the link to the far right */
    color: var(--link-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Activity text/time styles */
.activity-card .activity-text {
    color: var(--text-color);
}

.activity-card .activity-time {
    font-size: 12px;
    color: var(--text-light-color);
}

.activity-card .accent {
    color: var(--text-highlight-color);
}

/* Color variants for activity cards */
.activity-card.primary .icon {
    color: var(--primary-color);
}

.activity-card.success .icon {
    color: var(--success-color);
}

.activity-card.danger .icon {
    color: var(--danger-color);
}

.activity-card.warning .icon {
    color: var(--warning-color);
}
