.frame .frame-actions {
    display: flex;
    gap: 10px;
}

.frame .frame-body .row > [class^="col-"] {
    margin-bottom: 10px;
}

.frame .frame-body .row > [class^="col-"] > h6 {
    font-weight: 600;
}

