.c-skin.theme-dark .dropdown-menu {
    background-color: var(--surface-2);
    border-color: var(--border);
    color: var(--text-color);
}

.c-skin.theme-dark .dropdown-item {
    color: var(--text-color);
}

.c-skin.theme-dark .dropdown-item:hover,
.c-skin.theme-dark .dropdown-item:focus {
    color: var(--text-highlight-color);
    background-color: var(--surface-3);
}
