<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="cards-container-3">
            <div class="card" *ngFor="let u of items">
                <div class="card-image">
                    <img [src]="u?.imagen || u?.image || 'assets/img/placeholder.jpg'" alt="{{ u?.nombre || u?.name }}" />
                </div>
                <div class="card-data">
                    <div class="card-title">{{ u?.nombre || u?.name }}</div>
                    <div class="card-subtitle">{{ u?.barrio || '-' }}, {{ u?.city || u?.localidad }}</div>
                    <div class="card-meta">
                        <span><b>Precio:</b> {{ u?.precio | currency:'USD' }}</span>
                        <span class="m-l-sm"><b>Disponibilidad:</b> {{ (!u?.vendida && !u?.sold) ? 'Disponible' : 'Vendido' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="filters-sidebar">
            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-name">
                    <b>Nombre</b>
                    <small *ngIf="nameSelectedId">{{ nameSelectedLabel() }}</small>
                </div>
                <div id="f-name" class="collapse in">
                    <typeahead [(ngModel)]="nameSelectedId" name="nameSelectedId" [items]="nameItems" idKey="id" labelKey="label" placeholder="Buscar unidad..." (ngModelChange)="applyFilters()"></typeahead>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-proyecto">
                    <b>Proyecto</b>
                    <small *ngIf="projectSelectedId">{{ projectSelectedLabel() }}</small>
                </div>
                <div id="f-proyecto" class="collapse in">
                    <typeahead [(ngModel)]="projectSelectedId" name="projectSelectedId" [items]="projectItems" idKey="id" labelKey="label" placeholder="Buscar proyecto..." (ngModelChange)="applyFilters()"></typeahead>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-location">
                    <b>Localidad</b>
                    <small *ngIf="cities && cities.length">{{ selectedLocations() }}</small>
                </div>
                <div id="f-location" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let c of cities" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterLocations[c]" (ngModelChange)="applyFilters()"> {{ c }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-barrio">
                    <b>Barrio</b>
                    <small *ngIf="barrios && barrios.length">{{ selectedBarrios() }}</small>
                </div>
                <div id="f-barrio" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let b of barrios" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterBarrios[b]" (ngModelChange)="applyFilters()"> {{ b }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-tipo">
                    <b>Tipo de residencia</b>
                    <small *ngIf="tiposResidencia.length">{{ selectedTipos() }}</small>
                </div>
                <div id="f-tipo" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let t of tiposResidencia" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterTipos[t]" (ngModelChange)="applyFilters()"> {{ t }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-vis">
                    <b>Ver</b>
                    <small *ngIf="visibilidadOpts.length">{{ selectedVisibilidad() }}</small>
                    <small *ngIf="internaOpts.length && filterVisibilidad['No publicado']" class="m-l-sm">{{ selectedInterna() }}</small>
                </div>
                <div id="f-vis" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let v of visibilidadOpts" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterVisibilidad[v]" (ngModelChange)="applyFilters()"> {{ v }}</label>
                        </div>
                    </div>
                    <div class="checkbox-grid" *ngIf="filterVisibilidad['No publicado']">
                        <div *ngFor="let i of internaOpts" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterInterna[i]" (ngModelChange)="applyFilters()"> {{ i }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-disp">
                    <b>Disponibilidad</b>
                    <small *ngIf="disponibilidadOpts.length">{{ selectedDisponibilidad() }}</small>
                </div>
                <div id="f-disp" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let d of disponibilidadOpts" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterDisponibilidad[d]" (ngModelChange)="applyFilters()"> {{ d }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-rooms">
                    <b>Cuartos</b>
                    <small *ngIf="(filterCuartos | keyvalue).length">{{ selectedRooms() }}</small>
                </div>
                <div id="f-rooms" class="collapse in">
                    <div class="checkbox-grid">
                        <div class="checkbox" *ngFor="let n of [1,2,3,4]">
                            <label><input type="checkbox" [(ngModel)]="filterCuartos[n]" (ngModelChange)="applyFilters()"> {{ n === 4 ? '4+' : n }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-size">
                    <b>Tamaño</b>
                    <small *ngIf="sizeMin || sizeMax">{{ sizeMin || 0 }} - {{ sizeMax || '∞' }}</small>
                </div>
                <div id="f-size" class="collapse in">
                    <div class="row">
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="sizeMin" (ngModelChange)="applyFilters()" placeholder="Min" /></div>
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="sizeMax" (ngModelChange)="applyFilters()" placeholder="Max" /></div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-price">
                    <b>Precio</b>
                    <small *ngIf="priceMin || priceMax">{{ (priceMin || 0) | currency:'USD' }} - {{ priceMax || '∞' }}</small>
                </div>
                <div id="f-price" class="collapse in">
                    <div class="row">
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="priceMin" (ngModelChange)="applyFilters()" placeholder="Min" /></div>
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="priceMax" (ngModelChange)="applyFilters()" placeholder="Max" /></div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-exp">
                    <b>Expensas</b>
                    <small *ngIf="expMin || expMax">{{ (expMin || 0) | currency:'USD' }} - {{ expMax || '∞' }}</small>
                </div>
                <div id="f-exp" class="collapse in">
                    <div class="row">
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="expMin" (ngModelChange)="applyFilters()" placeholder="Min" /></div>
                        <div class="col-xs-6"><input class="form-control c-input" type="number" [(ngModel)]="expMax" (ngModelChange)="applyFilters()" placeholder="Max" /></div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-extras">
                    <b>Extras</b>
                    <small *ngIf="extrasCatalog.length">{{ selectedExtras() }}</small>
                </div>
                <div id="f-extras" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let e of extrasCatalog" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterExtras[e]" (ngModelChange)="applyFilters()"> {{ e }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#f-venta">
                    <b>Tipo de venta</b>
                    <small *ngIf="ventaOpts.length">{{ selectedVenta() }}</small>
                </div>
                <div id="f-venta" class="collapse in">
                    <div class="checkbox-grid">
                        <div *ngFor="let v of ventaOpts" class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="filterVentaTipo[v]" (ngModelChange)="applyFilters()"> {{ v }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
