<div class="frame">
  <div class="frame-title">
    <h4>Importar datos</h4>
  </div>
  <div class="frame-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <label class="c-label" for="target">Destino</label>
        <select id="target" class="form-control c-input" [(ngModel)]="target">
          <option value="proyectos">Proyectos</option>
          <option value="unidades">Unidades</option>
          <option value="contactos">Contactos</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6">
        <label class="c-label">Archivo Excel (.xlsx, .xls)</label>
        <input type="file" class="form-control c-input" (change)="onFileChange($event)" accept=".xlsx,.xls" />
      </div>
    </div>

    <div class="m-t">
      <button class="btn c-btn btn-primary" [disabled]="!excelData.length || isSaving" (click)="importar()">Importar</button>
      <button class="btn c-btn btn-default m-l-sm" [disabled]="isSaving" (click)="seedDemo(target)">Generar demo en {{ target }}</button>
      <span class="m-l" *ngIf="resultMsg">{{ resultMsg }}</span>
    </div>

    <div class="m-t" *ngIf="preview.length">
      <h5>Previsualización (primeras {{ preview.length }} filas)</h5>
      <pre>{{ preview | json }}</pre>
    </div>

    <div class="m-t">
      <h5>Plantilla de columnas sugeridas</h5>
      <div *ngIf="target==='proyectos'">
        <code>nombre, tipoProyecto, ciudad, barrio, tipo</code>
      </div>
      <div *ngIf="target==='unidades'">
        <code>proyectoId, ciudad, barrio, nombre, tipo, orientacion, distribucion, dormitorios, banos, pisoCategoria, tamanoM2, precioUSD, expensasUSD, extras (coma separada), visibilidad, publicacionInterna, disponibilidad, ocupacion, imagenUrl</code>
      </div>
      <div *ngIf="target==='contactos'">
        <code>nombre, apellido, edad, telefono, mail, pareja, familia, pref_ciudad, pref_barrio, pref_tipo, pref_cuartos, pref_precio_min, pref_precio_max, entrevistaPendiente, ent_proyectoId, ent_unidadId, ent_comentario, ent_fecha, ent_hora, ent_lugar</code>
      </div>
    </div>
  </div>
</div>


