<header class="app-header d-flex align-items-center justify-content-between px-3">
	<div class="d-flex align-items-center gap-3">
		<button class="btn c-btn btn-square btn-primary" (click)="goHome()">
			<i class="far fa-house"></i>
		</button>
		<h6 class="m-0">{{ title }}</h6>
	</div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light rounded-pill d-flex align-items-center gap-2" ngbDropdownToggle>
            <i class="far fa-user"></i>
            <span>{{ userName || 'Nombre Usuario' }}</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <button class="dropdown-item d-flex align-items-center gap-2" (click)="goToUserSettings()">
                <i class="fa fa-gear"></i>
                <span>Ajustes Usuario</span>
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item text-danger d-flex align-items-center gap-2" (click)="logout()">
                <i class="fa fa-right-from-bracket"></i>
                <span>Log Out</span>
            </button>
        </div>
    </div>
</header>
