.app-header {
	height: 60px;
	background: var(--surface-2);
}


.app-header h6 {
	font-size: 18px;
	font-weight: 600;
	color: var(--text-highlight-color);
}

.app-header .btn-light { border-radius: 999px; }

.app-header .btn-light::after {
	display: none;
}